/* 
Reglas para trabajara con CSS

1)Primero se definen los estilos para ETIQUETAS html, por ejemplo: 
el header, footer, div, a, p, etc.

2)Despues se definen los estilos para IDENTIFICADORES (ID), los id's son
elementos únicos en el html, en el css se declaran con el simbolo de 
# ejemplo: #nombre-id{ estilos } y en el html se llaman mediante el 
atributo id ejemplo <div id-"publicidad"></div>

3)Al final se definen los estilos para las CLASES (class), las clases son 
elementos que se pueden repetir 'n' veces en el html, en el css se declaran 
con el simbolo de . ejemplo: .nombre-clase{estilos} y en el html se llaman
mediante el atributo class, ejemplo <div class="borde-logos"> </div>

4) Todos los estilos se ordenan conforme van apareciendo en la disposcicion 
del html, teniendo en cuenta la prioridad anterior, es decir, primero 
etiquetas html, luego id's y al final las clases

5)Los atributos se declaran de la siguiente forma: { atributo1:valor1; 
atributo2:valor2; ...; atributoN:valorN; }

6)Todos los atributos se ordenan alfabeticamente, por ejemplo si tengo
width, color, display, entonces el orden sería: primero color, luego display 
y al final whidt.

7)Si tenemos estilos para el comodin *, o para las etiquetas html y/o body, estos estilos son los 
primeros en definirse 

8)En el body debemos declarar un tamaño de fuente global.

9)Si tenemos estilos para resetear elementos html, estos irán antes  de 
cualquier estilo.  
*/
*{
	margin: 4;
	padding: 1;
}

body{
	background: #212121 url("fondo.jpg");
	background-image: url("fondo.jpg");
	color:#FFF;
	font-family: "Chalet",Helvetica, Verdana;
	font-size: 1em;
}

section#contenedor{
	margin: 0.9em auto;
	max-width: 200%;
	text-align:center;
}

section#boton{
	margin: 0.9em auto;
	max-width: 200%;
	text-align:center;
}








